/* @media (max-width: 640px) and (min-width: 320px) */

@media (max-width: 390px) {

  .sc-1 {
    background-image: url("images/mobile-banner-01.png");
  }

  .img-full {
    display: none;
  }
  .img-mobile {
    display: inline-block;
  }

  h1 {
    width: 100%;
    margin-top: 260px;
    font-size: 1.8rem;
  }

  h1 span {
    font-size: 1rem;
  }

  .sc-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .desk-form {
    display: none;
  }

  .mobile-form {
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .badass-div {
    flex-direction: column;
    width: 100%;
  }
  .mobile-form button{
    width: 109%;
  }

  .form-head {
    color: white;
    font-size: 2rem;
    margin-bottom: 5px;
    margin-top: 50px;
    position: static;
    font-size: 1.2rem;
    color: black;
  }
  .sc-1-foot {
    margin-top: 50px;
    color: black;
    font-weight: 500;
  }

  .sc-1-foot img {
    filter: invert(100%);
  }

  .sc-1-foot-text {
    display: grid;
    grid-template-columns: 1fr;
    font-weight: 400;
    gap: 10px;
    font-size: 0.8rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
  }

  .contact-form input {
    background-color: #00000000;
    border-color: hsl(0, 0%, 60%);
    color: rgb(0, 0, 0);
    width: 100%;
  }

  .contact-form input::placeholder {
    color: rgb(0, 0, 0);
  }

  .sc-2 {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sc-2-1 {
    width: 100%;
  }

  .sc-2-1 p:nth-child(1) {
    font-size: 1.8rem;
  }

  .sc-2-1 p:nth-child(2) {
    font-size: 1.2rem;
    width: 85%;
  }
  .sc-2-1 p:nth-child(3) {
    font-size: 1rem;
    width: 88%;
  }
  .sc-2 .mobile-mode {
    display: block;
    background-color: #222222;
    color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    margin-top: 50px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .sc-2 .mobile-mode:active {
    background-color: white;
    color: black;
  }

  .sc-2-2 {
    width: 100%;
  }

  .sc-2-2-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    width: 95%;
    overflow-x: scroll;
  }

  .sc-3 {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sc-3-1 {
    width: 100%;
  }
  .sc-3-1 p:nth-child(1) {
    font-size: 2rem;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .sc-3-1 p:nth-child(3) {
    width: 90%;
  }
  .sc-3-2 {
    width: 100%;
  }
  .sc-3-2-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    width: 95%;
    overflow-x: scroll;
  }
  .desk-mode {
    display: none;
  }
  .sc-3 .mobile-mode {
    display: block;
    margin-top: 30px;
    border-color: black;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .sc-3 .mobile-mode:active {
    background-color: black;
    color: white;
  }
  .sc-4 {
    display: flex;
    flex-direction: column;
    background-image: url("images/mobile-banner-02.png");
    /* padding-left: 20px; */
    padding-bottom: 90px;
  }

  .sc-4-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sc-4-1 p:nth-child(1) {
    font-size: 1.8rem;
    width: 100%;
  }

  .sc-4-1 p:nth-child(2) {
    font-size: 1rem;
    width: 95%;
  }
  .sc-4-2 {
    margin-top: 0;
  }

  .sc-4-2 .contact-form-grid {
    display: none;
  }

  .sc-4 .sc-3-2-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    width: 95%;
    overflow-x: scroll;
  }

  .sc-4-2-2 {
    width: 100%;
    padding-top: 100px;
  }

  footer {
    font-size: 0.5rem;
    padding-left: 10px;
  }

  .footer-button-div{
    margin-top: 40px;
  }
}


/* @media (max-width: 768px) and (min-width: 640px){

} */